[flake8]
exclude =
    .tox
    build
    dist
per-file-ignores =
    # Do not apply PEP8 to __init__.py files
    src/mytemplate/__init__.py:F401
    src/mytemplate/subA/__init__.py:F401
    src/mytemplate/subB/__init__.py:F401
max-line-length = 80
